@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --primary: #db4444;
  scroll-behavior: smooth;
}
.font_1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  position: relative;
}
.font_2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 24px;
  letter-spacing: 3%;
}
.font_3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

td,
th {
  text-align: left;
  padding: 8px;
}

.container {
  max-width: 124rem;
}

.swiper-slide {
  width: 40%;
  height: 350px;
  background-color: #db4444cb;

  position: relative;
}

@media screen and (max-width: 530px) {
  .swiper-slide {
    height: 170px;
    border-radius: 50px;
  }
  .container {
    border: 1px solid;
    margin-top: 200px;
    margin-left: 20px;
  }
}
.container-x {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.S_Underline:after {
  position: absolute;
  bottom: 0.5rem;
  left: 2px;
  height: 0.125rem;
  width: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.4s;
  --tw-content: "";
  content: var(--tw-content);
}

.ul li {
  list-style: circle;
}

.main1 {
  /* background: linear-gradient(90deg, #c7c5f4, #776bcc); */
  background: linear-gradient(90deg, #f4c5c5, #db4444);

  font-family: Raleway, sans-serif;
  box-sizing: border-box;
}
.display {
  background: linear-gradient(90deg, #db4444, #b87878);
  box-shadow: 0px 0px 24px #c46565;
}

.background_screen {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.shape1 {
  right: 120px;
  border-radius: 0 72px 0 0;
}

.shape3 {
  background: linear-gradient(270deg, #a45454, #db4444);
}

.login__input {
  border-bottom: 2px solid #d1d1d4;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #9e6767;
}

.submit_button {
  box-shadow: 0px 2px 2px #965656;
}

.submit_button:active,
.submit_button:focus,
.submit_button:hover {
  border-color: #9e6767;
  outline: none;
}
